/* Container Styling */
.property-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Title Section */
.PropertyTitleSection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.PropertyTitleSection-back-button {
  background: #f5f5f5;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 45px;
  font-size: 22px;
  color: #333;
  cursor: pointer;
  display: flex
;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PropertyTitleSection-back-button:hover {
  background: #eaeaea;
}

.PropertyTitleSection-title {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  color: #000;
}

.PropertyTitleSection-actions {
  display: flex;
  gap: 15px;
}

.PropertyTitleSection-action-button {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.PropertyTitleSection-action-button svg {
  fill: #333;
  width: 20px;
  height: 20px;
}

.PropertyTitleSection-action-button:hover svg {
  fill: #198E78;
}

.PropertyTitleSection-action-button:hover {
  color: #198E78;
}

.property-actions button:hover {
  background-color: #198E78;
}



.property-details-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Reservation Widget */
