/* SelectedPropertyCalendar.css */

.selected-property-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 20px;
}

.selected-property-calendar-container h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #000;
}

.react-calendar {
  border: none;
  width: 90%;
  max-width: 900px;
}

.react-calendar__viewContainer {
  display: flex;
  gap: 50px; /* Space between the two months */
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  padding: 0 10px;
  cursor: pointer;
}

.react-calendar__navigation button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  color: #666;
  margin-bottom: 10px;
}

.react-calendar__month-view__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.react-calendar__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 50%;
  font-size: 1rem;
  color: #333;
  transition: background-color 0.2s ease;
}

.react-calendar__tile--now {
  background: #e0f7fa;
  color: #00796b;
  font-weight: bold;
}

.react-calendar__tile:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.selected-range {
  background-color: #e6f4f1; /* Light background for range */
  border-radius: 10px;
  color: #333;
}

.selected-start-end {
  background-color: #00796b; /* Dark green for selected start/end */
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.react-calendar__tile--disabled {
  color: #ccc;
}

.react-calendar__tile--active {
  background-color: #00796b;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--hover {
  background-color: #f3f3f3;
}
