/* AdminProfileUpdate.css */

.profile-Admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: #f4f7fc;
    font-family: Arial, sans-serif;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .profile-Admin-form {
    width: 30%;
  
    padding: 25px;
    border-radius: 10px;
  
  }
  

  
  .profile-Admin-input-group {
    margin-bottom: 20px;
  }
  
  .profile-Admin-input-disabled {
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
  }
  
  .profile-Admin-name-fields {
    display: flex;
    gap: 15px;
    margin-top: 15px;
  }
  
  .profile-Admin-input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .profile-Admin-textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-Admin-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-Admin-picture-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }
  
  .profile-Admin-picture p {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
  
  .profile-Admin-account-management {
    width: 65%;
    /* background: white; */
    padding: 25px;
    /* border-radius: 10px; */
    border-left: 2px solid lightgray;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    display: flex
;
    flex-direction: column;
    /* justify-content: center; */
}
  
  .profile-Admin-update {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .profile-Admin-button {
    background-color: #198E78;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  
  .profile-Admin-button:hover {
    background-color: #2f855a;
  }
  