
/* page twelve*/

.pannel-box-page12{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    }
    .uploading-photo-page12{
    width: 100%;
    height: 350px;
    border: 2px solid green;
    }
    .photo-card-container{
      display: flex;
      justify-content: space-evenly;
    
    }
    .button-popup-page12{
      width:500px;
      height: 400px;
      border: 1px solid gray;
      border-radius: 10px;
      position:absolute;
      top:200px;
      left:600px;
      background-color: white;
    
    }
    .uploading-photo-page12 .photo-card{
      width: 200px;
      height: 200px;
      border-radius: 10px;
      border: 1px solid gray
    }
    .adding-bedrooms-page12{
      background-color: #F7F7F7;
     border-radius: 10px;
      width: 100%;
      
      /* border: 2px solid green; */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bedroom-page12{
      background-color: white;
      border-radius: 10px;
      width: 95%;
      
      margin: 10px;
      margin-top: 50px;
    }
    
    
    .bedrooms-photos-page12{
      width: 100%;
      height: 400px;
      /* border: 2px solid green; */
      margin-top: 10px;
    }
    .accordion-button{
      width: 1100px;
     font-weight: 500;
     font-size: 20px;
    }
    .accordion-body{
      width: 1100px;
      background-color: whitesmoke;
    }
    .accordion-button:not(.collapsed) {
    background-color: white;
    }
      /* .loading-pageTwelve{
      width: 1200px;
      height: 4px;
      position: absolute;
      top: 703px;
      border-top: 4px solid #198E78;
    } */
    .uploading-photo-page12 .photo-card {
      width: 208px;
      height: 208px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
     border:white;
    }
    
    .photo-gallery{
    /* border:2px solid red; */
    }
    .photo-gallery img{
      width: 175px;
      height: 168px;
      border-radius: 10px;
    }
    .photo-gallery ,h6, p{
      /* line-height: 0.8;  */
    }