.house-manual-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.house-manual-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.house-manual-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
}

.house-manual-actions {
    display: flex;
    justify-content: space-between;
}

.cancel-button, .save-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f5f5f5;
    color: #333;
}

.save-button {
    background-color:#198E78;
    color: white;
}

.save-button:hover {
    background-color:#198E78;
}

.cancel-button:hover {
    background-color: #e2e2e2;
}
