.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  .home-filter {
    background-color: black;
   
    height: 50vh;
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 160px;
  
  }
  .home-filter img{
    width: 240px;
    height: 76px;
    position: absolute;
    left: 43px;
   
  }
  .home-filter .filter{
    left: 53px;
    position: relative;
    width: 870px;
    height: 64px;
  background: #198E78;
  border-radius: 10px;
  }

  .hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 36px;
    padding: 0;
  }
  
  .hamburger-button .line {
    width: 100%;
    height: 4px;
    background-color:white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-button .line.short {
    width: 60%;
  }
  