.hostwatchinginfluencer-pastcollab {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .hostwatchinginfluencer-pastcollab h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
  }
  
  .collaboration-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  
  .collaboration-card:hover {
    transform: scale(1.02);
  }
  
  .collab-info {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  
  .location-rating h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0 0 5px;
  }
  
  .location-rating p {
    font-size: 14px;
    color: #888;
    margin: 0;
  }
  
  .location-rating .rating {
    color: #f4b400;
    font-weight: 600;
  }
  
  .influencer-details p {
    font-size: 14px;
    margin: 8px 0;
    color: #666;
  }
  
  .platforms {
    display: flex;
    gap: 8px;
    margin: 10px 0;
  }
  
  .platform-icon {
    font-size: 20px;
    color: #666;
    transition: color 0.3s ease;
  }
  
  .platform-icon:hover {
    color: #000;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: white;
    color: #198E78;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    border: 1px solid black;
  }
  
  .contact-button:hover {
    background-color:white;
    color: #198E78;
  }
  
  .collab-media {
    display: flex;
   
    align-items: flex-start;
    width: 45%;
  }
  
  .collab-media img {
    width: 50%;
    border-radius: 12px;
    margin-bottom: 10px;
    object-fit: cover;
    height: 190px;
    margin-right: 10px;
}
  
  .details {
    font-size: 14px;
    color: #555;
  }
  
  .details ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
  }
  
  .details ul li {
    margin-bottom: 5px;
  }
  
  .details p {
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .details a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .details a:hover {
    text-decoration: underline;
  }
  
  .collab-date {
    font-size: 14px;
    color: #888;
    width: 15%;
    text-align: right;
  }
  